body {
  font-family: Helvetica;
}

header h1 {
  text-align: center;
}

.column-1 {
  width: 50%;
  float: left;
  display: inline-block;
}

.column-2 {
  width: 50%;
  display: inline-block;
}

a {
  color: green;
}

footer {
  clear: both;
  padding-top: 10px;
}